<template name="main">
  <nav class="navbar navbar-transparent navbar-fixed-top" style="backround-color: rgba(0, 0, 0, 0.4)">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand js-scroll-trigger" href="#page-top" style="font-family:Ultra">Boomtown Media</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="#one">
														About Us
	                        </a>
	                    </li>
						<li>
	                        <a href="#two">
	                           Services
	                        </a>
	                    </li>
	                    <li>
	                        <a href="#three">
														Team
	                        </a>
	                    </li>
    									<li>
	                        <a href="#four">
														Contact
	                        </a>
	                    </li>
	                </ul>
        	</div>
    	</div>
    </nav>

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/img/fargo.jpg')">
						<div class="container">
                <div class="row">
					<div class="col-md-6">
						<h1 class="title" style="font-family:Ultra; font-weight:300">Web and print media focused on branding</h1>
	                   <h4>
Boomtown Media provides the latest in web-based, mobile-based, and traditional forms of sales and marketing materials for small businesses and other organizations, primarily in the Fargo/Moorhead metropolitan area.</h4>
	                    <br />
	                    <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
							<i class="fa fa-play"></i> Watch video
						</a> -->
					</div>
                </div>
            </div>
        </div>

		<div class="main main-raised">
			<div class="container">
		    	<div class="section text-center section-landing">
								<section id="one">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">About us</h2>
	                        <h5 class="description">Boomtown Media was founded in Williston, ND in 2012 by Jacob Sopher. We will provide sales and marketing materials to businesses looking to start or expand operations in North Dakota. The company was founded in the middle of Bakken shale oil rush of 2008-2014. We provide materials that reflect the exciting economic growth and opportunity that exists in our region today.</h5>
	                    </div>
	                </div>
								</section>
					<section id="two">
					<div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">blur_linear</i>
									</div>
									<h4 class="info-title">Novel Design</h4>
									<p>We leverage the latest tools in web design to keep your company's look fresh and up to date with today's standards</p>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-success">
										<i class="material-icons">directions_run</i>
									</div>
									<h4 class="info-title">Rapid Prototyping</h4>
									<p>Our rapid prototyping environment enables you to get your site up and running quickly with easy alterations based on your needs </p>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-danger">
										<i class="material-icons">import_contacts</i>
									</div>
									<h4 class="info-title">Print Media</h4>
									<p>Print media is also part of our mission to enable you to target your customers through traditional marketing materials</p>
								</div>
		                    </div>
		                </div>
					</div>
				</section>
	            </div>
				<section id="three">
	        	<div class="section text-center">
	                <h2 class="title">Here is our team</h2>

					<div class="team">
						<div class="row">
							<div class="col-md-6">
			                    <div class="team-player">
			                        <img src="/img/jacob.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Jacob Sopher<br />
										<small class="text-muted">Sales and Marketing</small>
									</h4>
			                        <p class="description">Jacob has an extensive background in information systems and entreneurship. He began his career in Geographical Information Systems before moving to web developement.</p>
									<a href="https://twitter.com/boomtown_m" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#link" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
									<a href="#link" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a>
			                    </div>
			                </div>
			                <div class="col-md-6">
			                    <div class="team-player">
			                        <img src="/img/adam.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Adam Falck<br />
										<small class="text-muted">Web Development</small>
									</h4>
			                        <p class="description">Adam has a degree in Entrepreneurship and Biology from the University of Arizona. He currenlty is focused on web design and UI using technologies such as React and MeteorJS.</p>
									<a href="https://twitter.com/boomtown_m" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com/in/adam-falck-18a7a614a/" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a>
			                    </div>
			                </div>
						</div>
					</div>

	            </div>
						</section>

					<section id="four">
	        	<div class="section landing-section">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="text-center title">Work with us</h2>
							<h4 class="text-center description">Contact us with your company's business needs and we will get back to you in a couple of hours.</h4>
							<h4 class="text-center description"><a href="mailto:boomtownm@gmail.com">boomtownm@gmail.com</a>, 701-936-4347</h4>
	                        <form id="contactForm" class="contact-form">
	                            <div class="row">
	                                <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Name</label>
											<input id="name" type="text" class="form-control">
										</div>
	                                </div>
	                                <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Email</label>
											<input id="email" type="email" class="form-control">
										</div>
	                                </div>
	                            </div>

								<div class="form-group label-floating">
									<label class="control-label">Your Message</label>
									<textarea id="message" class="form-control" rows="4"></textarea>
								</div>

	                            <div class="row">
	                                <div class="col-md-4 col-md-offset-4 text-center">
	                                    <button id="submit" type="submit" class="btn btn-primary btn-raised" data-toggle="modal" data-target="#myModal">
											Send Message
										</button>
	                                </div>
	                            </div>



	                        </form>
	                    </div>
	                </div>

	            </div>
						</section>
	        </div>

		</div>
	</div>


<!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thanks</h4>
      </div>
      <div class="modal-body">
          Thank you for your interest in Boomtown media. We will contact you within a few hours to discuss how we can meet your needs. We appreciate your interest.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>
